/*Header style*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time {
    display: flex;
}

/*All articles style*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}