:root {
    --color1: black;
}

/*Header style*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time {
    display: flex;
}

/*All articles style*/
article {
    display: flex;
    flex-direction: column;
    color: var(--color1);
    font-weight: bold;
    font-size: x-large;
    width: 600px;
    height: auto;
    align-items: center;
    margin: auto;
}

.hidden {
    display: none;
}